/* الخلفية التدريجية */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;

    /* الخلفية: صورة + تدرج تدريجي */
    background: linear-gradient(to bottom, rgba(254,247,224,0.8) 0%, rgba(254,247,224,0.8) 33%, rgba(255,255,255,0.9) 100%), 
                url('background.jpg') no-repeat center top;
    background-size: cover;

    display: ruby-base-container;
    justify-content: right;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
}


/* أيقونة اللغة */
.lang-switch {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.lang-switch button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.lang-switch button:hover {
    background-color: #a49f9b;
}

/* الصندوق الرئيسي يشبه تطبيق الموبايل */
.container {
    background-color: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgba(242, 193, 176, 0.981);
    text-align: center;
    width: 300px;
    max-width: 100%;
    margin: auto;
}

/* الشعار */
.logo {
    width: 100px;
    margin-bottom: 15px;
}

/* عناصر النموذج */
form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(115, 136, 240, 0.981);
    border: 1px solid #a0a0a0;
    box-sizing: border-box;
    font-size: 14px;
}

form button {
    background-color: #320ded;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #324bef;
}

/* رسالة الرد */
#responseMessage {
    margin-top: 15px;
    font-weight: bold;
}
